---
layout: default
---
			{% for post in paginator.posts %}
			
				{% if post.custom_type == 'text' %}
					<article class="excerpt clearfix">
						<header class="post-header">
							<h2><a href="{{post.url}}">{{post.title}}</a></h2>
							<p class="meta">
								<time pubdate>{{post.date | date: "%B %d %Y"}}</time>
							</p>
						</header>
						<p class="post-excerpt clearfix">{{post.content}}</p>
					</article>
					
				{% elsif post.custom_type == 'three_image' %}	
					<article class="excerpt clearfix">
						<!-- <header class="post-header">
							<h2><a href="{{post.url}}">{{post.title}}</a></h2>
							<p class="meta">
								<time pubdate>{{post.date | date: "%B %d %Y"}}</time>
							</p>
						</header> -->
						<p class="post-excerpt clearfix">
							<div class="box-circle clearfix"><a href="{{post.image_a_link}}" target="_blank"><img class="circle" src="{{post.image_a_url}}" /></a></div>
							<div class="box-circle clearfix"><a href="{{post.image_b_link}}" target="_blank"><img class="circle" src="{{post.image_b_url}}" /></a></div>
							<div class="box-circle clearfix"><a href="{{post.image_c_link}}" target="_blank"><img class="circle" src="{{post.image_c_url}}" /></a></div>
						</p>
						{% if post.content %}
							<p>{{post.content}}</p>
						{% endif %}
					</article>
					
				{% elsif post.custom_type == 'single_image' %}	
					<article class="excerpt clearfix">
						<header class="post-header">
							<h2><a href="{{post.url}}">{{post.title}}</a></h2>
							<p class="meta">
								<time pubdate>{{post.date | date: "%B %d %Y"}}</time>
							</p>
						</header>
						<p class="post-excerpt clearfix">
							<img class="full-width" src="{{post.image_url}}" />
						</p>
						{% if post.content %}
							<p>{{post.content}}</p>
						{% endif %}
					</article>
				{% endif %}
			{% endfor %}
			
			<nav id="page-navigation">
				<ul>
					{% if paginator.previous_page %}
						{% if paginator.previous_page == 1 %}
							<li><a href="/">&laquo; Newer</a></li>
						{% else %}
							<li><a href="{{paginator.previous_page}}">&laquo; Newer</a></li>
						{% endif %}
					{% else %}
					<li>&laquo; Newer</li>
					{% endif %}
					<li>&nbsp;</li>
					{% if paginator.next_page %}
						<li><a href="/page{{paginator.next_page}}">Older &raquo;</a></li>
					{% else %}
						<li>Older &raquo;</li>
					{% endif %}
				</ul>
			</nav>