		<!-- MAIN FOOTER and SOCIAL LINKS -->
		<footer id="main-footer">
			<div class="container">
				<nav id="social-links">
					<ul>
						<li class="social-github">
							<a href="http://github.com/sday222"><i class="github"></i></a>
						</li>
						<li class="social-dribbble">
							<a href="http://dribbble.com/seanmday"><i class="dribbble"></i></a>
						</li>
						<li class="social-instagram">
							<a href="http://instagram.com/seanmday"><i class="instagram"></i></a>
						</li>
						<li class="social-twitter">
							<a href="http://twitter.com/sean_day"><i class="twitter"></i></a>
						</li>
					</ul>
				</nav>
				<p class="crafted-location">
					Crafted with care in Denver, Co.
				</p>
			</div>
		</footer>
	</body>
</html>