		<!-- MAIN FOOTER and SOCIAL LINKS -->
		<footer id="main-footer">
			<div class="container">
				<nav id="social-links">
					<ul>
						<li class="social-github">
							<a href="http://github.com/sday222"><i class="github"></i></a>
						</li>
						<li class="social-dribbble">
							<a href="http://dribbble.com/seanmday"><i class="dribbble"></i></a>
						</li>
						<li class="social-instagram">
							<a href="http://instagram.com/seanmday"><i class="instagram"></i></a>
						</li>
						<li class="social-twitter">
							<a href="http://twitter.com/sean_day"><i class="twitter"></i></a>
						</li>
					</ul>
				</nav>
				<p class="crafted-location">
					Crafted with care in Denver, Co.
				</p>
			</div>
		</footer>
	
		<!-- LOAD GOOGLE ANALYTICS -->
		<script type="text/javascript">
		
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-27318064-1']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>			
	</body>
</html>