<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{site.site_name}}</title>
		
		<meta name="description" content="{{site.description}}">
		<meta name="keywords" content="sean day, austin texas, denver colorado, web design, front-end developer, icons">
		
		<!-- import styles -->
		<link href="stylesheets/css/screen.css" type="text/css" rel="stylesheet" media="all">
		
		<!-- import scripts -->
	</head>
	
	<body>
		<!-- HEADER and NAVIGATION -->
		<header id="main-header">
			<nav id="main-navigation">
				<ul>
					<li class="active-menu-item"><a href="#">Notes</a></li>
					<li><a href="#">Work</a></li>
					<li><h1><a href="#">Sean Day</a></h1></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
		</header>