<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{site.site_name}}{% if page.title %} | {{page.title}}{% endif %}</title>
		
		<meta name="description" content="{{site.description}}">
		<meta name="keywords" content="sean day, austin texas, denver colorado, web design, front-end developer, icons">
		
		<!-- import TypeKit -->
		<script type="text/javascript" src="//use.typekit.net/sso8ces.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

		<!-- import styles -->
		<link href="/stylesheets/css/screen.css" type="text/css" rel="stylesheet" media="all">
		
		<!-- import scripts -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	
	<body>
		<!-- HEADER and NAVIGATION -->
		<header id="main-header">
			<nav id="main-navigation">
				<ul>
					<li class="active-menu-item"><a href="/">Notes</a></li>
					<li><a href="http://dribbble.com/seanmday" target="_blank">Work</a></li>
					<li><h1><a href="/">Sean Day</a></h1></li>
					<li><a href="/about.html">About</a></li>
					<li><a href="http://www.twitter.com/sean_day" target="_blank">Follow</a></li>
				</ul>
			</nav>
		</header>