// import compass modules
@import "compass/reset";
@import "compass/css3";
@import "compass/typography";

// import base styles
@import "includes/colors";
@import "includes/type";

// import page layouts
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear:both;
}
.clearfix {
	zoom: 1; /* IE6&7 */
}
body {
	background-color: $white;
}

img {
	max-width: 100%;
}

header#main-header {
	background-color: $red;
	color: $white;
	border-bottom: 1px $red-accent solid;
	width: 100%;
}

footer#main-footer {
	width: 100%;
	//border-bottom: 20px $red solid;
}

nav#main-navigation, section#body-content, div.container {
//	width: 60.4166667%; // 870px / 1440px (mac book pro)
	width: 63.6896047%; // 870px / 1366px (mac book air)
	max-width: 870px; // width dictator
	margin:0 auto;
}
section#about {
	margin: 0 auto;
	width: 25%;
	max-width: 870px;
	margin-top: 80px;
	text-align: center;
	p {
		text-align: left;
		margin-top:40px;
	}
	img.mugshot {
		width: 142px;
		height: 142px;
		@include border-radius(500px);
	}
}

/* MAIN NAVIGATION */
nav#main-navigation {
	text-align: center;
	h1 a {
		text-indent: -9999em;
		background:url('../../images/logo.svg') no-repeat center center;
		background-size: 100% 100%;
		width: 163px;
		height: 163px;
		display: block;
		&:hover, &:focus {
			border-bottom: none !important;
		}
	}
}

nav#main-navigation ul li {
	display: inline-block;
	vertical-align: middle;
	margin: 30px;
	font-family: $quaver;
	font-size: 1.4em;
	color: $white;
	text-align: left;
	list-style: none;
	a {
		font-family: inherit;
		font-size: inherit;
		color: inherit;
		text-decoration: none;
		&:hover, &:focus {
			border-bottom: 1px $white solid;
			@include transition-property(border-bottom);
			@include transition-duration(0.25s);
		}
		&:visited {
			text-decoration: none;
		}
	}
}

/* BODY SECTION */
section#body-content {
	margin-top: 30px;
}
nav#page-navigation {
	text-align:center;
	ul li {
		display: inline-block;
		vertical-align: middle;
		color: $gray-middle;
		text-align: center;
		list-style: none;
		font-size: .8em;
		font-family: Helvetica, Arial, sans-serif;
		a {
			color: inherit;
			text-decoration: none;
			&:hover, &:focus {
				color: $red;
				text-decoration: underline;
			}
		}
	}
	
}

.circle {
	// border: 8px $turq solid; // doesnt need to be a % because we are using box-sizing: border-box
	@include border-radius(1000px);
	float:left;
}

div.box-circle {
	@extend .circle;
	margin: 1.7%;
	width: 29.333333333%;
	height: 29.333333333%;
	@include box-sizing(border-box);
	border: 8px solid $turq;
}
article.excerpt {
	padding-bottom: 2em;
	border-bottom: 1px solid $gray-light;	
	margin-bottom: 2em;
}

/* FOOTER SECTION */
nav#social-links {
	text-align: center;
	margin: 80px 0 20px 0;
	ul li {
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		list-style: none;
		margin-left: 3px;
		margin-right: 3px;
		i {
			display: inline-block;
			width: 24px;
			height: 24px;
			background: url('../../images/social-sprite.png') no-repeat;
			&.github {
				background-position: -24px 0;
				&:hover, &:focus {
					background-position: -24px -24px;
				}
			}
			&.dribbble {
				background-position: 0 0;
				&:hover, &:focus {
					background-position: 0 -24px;
				}
			}
			&.instagram {
				background-position: -48px 0;
				&:hover, &:focus {
					background-position: -48px -24px;
				}
			}
			&.twitter {
				background-position: -72px 0;
				&:hover, &:focus {
					background-position: -72px -24px;
				}
			}
		}
	}
}

p.crafted-location {
	font-family: $wisdom;
	color: $red;
	font-size: 1em;
	text-align: center;
	margin-bottom: 2em;
	border-bottom: none;
}