// red base color palette
$primary: #e74c3c;
$primary-accent: #c0392b;

$secondary: #f1c40f;
$secondary-accent: #d9b00d;

$white: #f2f2f2;
$gray-dark: #7f8c8d;
$gray-middle: #e1e8ed;
$gray-light: #ebedee;


// yello base color palette
// $primary: #f39c12;
// $primary-accent: #d35400;

// $secondary: #34495e;
// $secondary-accent: #2c3e50;