{% include head.html %}

		<!-- MAIN BODY CONTENT and ARTICLE TYPES -->
		<section id="body-content">
		
			{{content}}
			
			
			<nav id="page-navigation">
				<ul>
					{% if paginator.previous_page %}
						{% if paginator.previous_page == 1 %}
							<li><a href="/">&laquo; Newer</a></li>
						{% else %}
							<li><a href="{{paginator.previous_page}}">&laquo; Newer</a></li>
						{% endif %}
					{% else %}
					<li>&laquo; Newer</li>
					{% endif %}
					<li>&nbsp;</li>
					{% if paginator.next_page %}
					<li><a href="/page{{paginator.next_page}}">Older &raquo;</a></li>
					{% else %}
					<li>Older &raquo;</li>
					{% endif %}
				</ul>
			</nav>
		</section>
		
{% include footer.html %}